{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub",
    "x-privacy-policy-url": "https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement",
    "x-legal-info-url": "https://docs.github.com/en/site-policy/github-terms/github-terms-of-service",
    "x-ai-description": "Search open issues from GitHub repositories.",
    "x-description-for-human": "Search open issues on GitHub.",
    "version": "0.0.0"
  },
  "tags": [],
  "paths": {
    "/search/issues": {
      "get": {
        "operationId": "searchIssues",
        "description": "Search open issues from GitHub repositories.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The search query. Default is `repo:OfficeDev/microsoft-365-agents-toolkit is:open`.",
            "schema": {
              "type": "string",
              "default": "repo:OfficeDev/microsoft-365-agents-toolkit is:issue is:open"
            },
            "explode": false
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "description": "The number of results per page. Default is 5.",
            "schema": {
              "type": "integer",
              "default": 5
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-ai-adaptive-card": {
          "data_path": "$.items",
          "file": "adaptiveCards/searchIssues.json",
          "title": "$.title",
          "url": "$.html_url"
        }
      }
    }
  },
  "components": {},
  "servers": [
    {
      "url": "https://api.github.com",
      "variables": {}
    }
  ]
}
